@font-face {
  font-family: logo;
  src: url("../fonts/Midorima-PersonalUse-Regular.ttf");
}

.navbar-brand {
  color: #ec3b0f;
  margin-left: 10px;
  font-family: "logo";
  font-size: 35px;
}

.navbar-brand:hover {
  color: #ec3b0f;
}

.nav-link {
  color: #ec3b0f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
